In [71]:
import numpy as np
import pandas as pd 
# import matplotlip.pyplot as plt
import seaborn as sns

import pickle
import json

In [72]:
# pip install scikit-learn

In [73]:
from sklearn.datasets import load_iris

In [74]:
fool = load_iris()

In [75]:
# fool

In [76]:
dir(fool)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [77]:
print (fool.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [78]:
fool_df = pd.DataFrame(fool.data)

In [79]:
fool.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [80]:
fool_df = pd.DataFrame(fool.data,columns=fool.feature_names)

In [81]:
fool_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [82]:
fool.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [83]:
fool_df["flower_species"] = fool.target
fool_df["flower_species"]

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: flower_species, Length: 150, dtype: int32

In [86]:
fool_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower_species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [87]:
list_species = {0:'setosa', 1:'versicolor', 2:'virginica'}

In [88]:
from sklearn.preprocessing import LabelEncoder

In [90]:
fool_df.replace(list_species,inplace=True)

In [91]:
fool_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower_species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,virginica,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [94]:
fool_df["flower_species"].value_counts()

setosa        50
versicolor    50
virginica     50
Name: flower_species, dtype: int64

In [104]:
encode_species = {'setosa':0, 'versicolor':1, 'virginica':2}

In [105]:
fool_df.replace(encode_species,inplace=True)

In [95]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score , confusion_matrix , r2_score , classification_report , multilabel_confusion_matrix

In [108]:
x = fool_df.drop("flower_species",axis = 1)
y = fool_df["flower_species"]

In [109]:
x_train , x_test , y_train , y_test = train_test_split(x,y,random_state=12,test_size=0.25, stratify=y,)

In [110]:
x_train.shape , x_test.shape , y_train.shape , y_test.shape

((112, 4), (38, 4), (112,), (38,))

In [119]:
fmodel = LogisticRegression()
fmodel.fit(x_train,y_train)

LogisticRegression()

In [151]:
# Train_data
def model_cal(model,x,y):
    print ("-"*30)
    

    y_pred = model.predict(x)

    acc_score = accuracy_score(y , y_pred)
    print (f"acc_score = {acc_score}")

    conf_mat = confusion_matrix(y , y_pred)
    print (f"confusion = \n{conf_mat}")

    class_repo = classification_report(y,y_pred)
    print (f"classification_repo = \n{class_repo}")

In [152]:
print("*Model Eval on Testing_data*")

model_cal(fmodel,x_train,y_train)

*Model Eval on Testing_data*
------------------------------
acc_score = 0.9910714285714286
confusion =
[[38  0  0]
 [ 0 36  1]
 [ 0  0 37]]
classification_repo =
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        38
           1       1.00      0.97      0.99        37
           2       0.97      1.00      0.99        37

    accuracy                           0.99       112
   macro avg       0.99      0.99      0.99       112
weighted avg       0.99      0.99      0.99       112

In [153]:
print("*Model Eval on Training_data*")
model_cal(fmodel,x_test,y_test)

*Model Eval on Training_data*
------------------------------
acc_score = 0.9210526315789473
confusion =
[[12  0  0]
 [ 0 11  2]
 [ 0  1 12]]
classification_repo =
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        12
           1       0.92      0.85      0.88        13
           2       0.86      0.92      0.89        13

    accuracy                           0.92        38
   macro avg       0.92      0.92      0.92        38
weighted avg       0.92      0.92      0.92        38

#training
acc_score = 0.9910714285714286
# testing 
acc_score = 0.9210526315789473

LOW BIAS, LOW VARIANCE 
"Best/Genralized Model"

In [154]:
with open ("fmodel.pkl","wb") as re_file:
    pickle.dump(fmodel,re_file)

# Encodeing process

In [168]:
print(x.columns)

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [160]:
encode_species

{'setosa': 0, 'versicolor': 1, 'virginica': 2}

In [175]:
Encode = {"input_feature" : ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)','petal width (cm)'],
          "output_feature" :{'setosa': "0", 'versicolor': 1, 'virginica': 2}}

In [176]:
with open ("encoded_value.json","w") as ed_file:
    json.dump(Encode,ed_file)